 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/a4e2fa904cf9626a6615aa60d71c7d1d5428a8cb6afaf950de952596a34ee2e3bfc9ee1d30ba9e9a8c6efd6b4247561b3884758f4ccd6c60a43492_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1874px;
}

.u-section-1 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 181px;
  height: 228px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 539px 343px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 181px;
  height: 228px;
  margin: -565px auto 0 456px;
}

.u-section-1 .u-group-1 {
  width: 337px;
  min-height: 337px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -396px auto 0 233px;
}

.u-section-1 .u-shape-3 {
  width: 297px;
  height: 297px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("https://pixabay.com/get/gb295d31583ec20184c8ab13cca1e538b9ceef1387a6eeda8d8127d1a32fcdda010a820e3d516328270277888205e6d64cdb79dc67e5bcad219be93b1dd4bdcbc_1280.jpg");
  background-position: 50% 50%;
  margin: -272px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 68px 0 62px;
}

.u-section-1 .u-group-2 {
  width: 337px;
  min-height: 337px;
  margin: 0 auto 0 367px;
}

.u-section-1 .u-shape-4 {
  width: 297px;
  height: 297px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("images/1b6c0922a9b015722d9faa60a9384b68f41423f617d9b60b09a92a1f89639a14bc417060efdfeaecd9884f27fa8e9bf046cd2bf2da7a915eec4f9a_1280.jpg");
  background-position: 50% 50%;
  margin: -272px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 31px 68px 0 62px;
}

.u-section-1 .u-shape-5 {
  width: 401px;
  height: 259px;
  margin: 506px auto 0 335px;
}

.u-section-1 .u-shape-6 {
  width: 401px;
  height: 259px;
  margin: -596px 233px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 337px;
  min-height: 337px;
  margin: -90px auto 0;
}

.u-section-1 .u-shape-7 {
  width: 297px;
  height: 297px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-image-3 {
  width: 160px;
  height: 160px;
  background-image: url("images/19acbba114f198ab8585e96015b4549b9993a32dc5c0eec10e6f1044e580cdd9f7491ecf616d6d3f624787e2a5c2d08160d43cf5490fb5b9cf005f_1280.jpg");
  background-position: 50% 50%;
  margin: -272px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 31px 68px 0 62px;
}

.u-section-1 .u-group-4 {
  width: 337px;
  min-height: 337px;
  margin: -674px 233px 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 297px;
  height: 297px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-image-4 {
  width: 160px;
  height: 160px;
  background-image: url("images/4a01609ecfd18fa3f8f99e6b4afc6492a81eae9760598eb596b41495379934a5bf801ba52cdca31d22145530663cc53f0ecc052fe74ffac7d6c40c_1280.jpg");
  background-position: 50% 50%;
  margin: -272px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 31px 68px 0 62px;
}

.u-section-1 .u-group-5 {
  width: 337px;
  min-height: 337px;
  margin: 337px auto 59px 233px;
}

.u-section-1 .u-shape-9 {
  width: 297px;
  height: 297px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-image-5 {
  width: 160px;
  height: 160px;
  background-image: url("https://pixabay.com/get/g83aa89d3f02d106f5186ff5ccf76c4bc7af2a9b3fa67c861935f1a22d1f7d13d45c0e00c32eb10406046678c782d2d0506e40087cc0273ce239d48efa22721bf_1280.jpg");
  background-position: 50% 50%;
  margin: -272px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 31px 68px 0 62px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 359px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 203px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 139px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 139px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 203px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 159px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 159px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 3px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 3px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-right: 3px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 3px;
  }
}